@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER 
/*
0 - 600px : Phone
600 - 900px : Tablet Portrait 
900 - 1200px : Tablet Landscape 
[1200 - 1800px] : our Desktop-first normal styles apply here 
1800px + : Big Desktop 

$breakpoint argument choices, no desktop here as that is normal style here 
- phone
- tab-port
- tab-land
- big-desktop
*/

// media query must not have px unit as then changing browser font size won't affect it
// it must have in em unit, not rem as rem here does not work properly in all browsers 
// changing root font size defined in html selector, cannot affect em or rem in media query, as em, rem of media query can only be affected by browser font size 
// 600px/16px=37.5em, 16px comes from browser font size 
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {        // <=600px
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {       // <=900px
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {          // <=1200px
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {       // >=1800px
            @content;
        }
    }
}







