/********** Template CSS **********/
:root {
  --primary: #06bbcc;
  --light: #f0fbfc;
  --dark: #181d38;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service {
  display: flex;
  justify-content: center;
}

.service-item {
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

.service-item img {
  transition: 0.5s;
}

.service-item a:hover img {
  transform: scale(1.1);
}

/*** Categories & Courses ***/
.course-item img {
  transition: 0.5s;
}

.course-item:hover img {
  transform: scale(1.1);
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/*** FAQs ***/

.faq_wrapper {
  padding: 100px 0 0;
}

.custom_wrapper .accordion-button:focus,
.custom_wrapper .accordion-button:hover {
  box-shadow: none;
  color: var(--primary);
}

.custom_wrapper .accordion-item {
  border: 0;
}

.custom_wrapper .accordion-button {
  font-size: 21px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--dark);
  background: var(--light);
  border-radius: 0;
  padding: 0 0 15px 0;
  border-bottom: 0px solid rgb(102, 101, 101);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.custom_wrapper .accordion-button::after {
  content: "\002B";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  background-image: none;
}

.custom_wrapper .accordion-button:not(.collapsed)::after {
  content: "\2212";
  font-family: "Font Awesome 5 Free";
  font-weight: 800px;
  display: inline-block;
  background-image: none;
  transform: unset;
}

.custom_wrapper .accordion-body {
  color: var(--dark);
  font-size: 15px;
  font-weight: 600px;
  margin: 0 0 20px 0;
  text-align: justify;
  padding-bottom: 25px;
  line-height: 1.6;
}

/*** Request Callback ***/
.req_call {
  background: var(--light);
  padding: 80px 0;
  margin-top: 100px;
}
.req_call .under_faq {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 0;
  color: var(--dark);
}
.req_call .learn-more-btn {
  background: var(--dark);
  border-color: var(--dark);
}
.req_call .learn-more-btn:hover {
  background-color: var(--primary);
  color: var(--light);
}
.req_call .learn-more-btn .fa {
  font-size: 22px;
  margin-right: 15px;
  vertical-align: bottom;
  color: tomato;
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/*** Signin ***/
/* Google Poppins Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-font-family: "Poppins", sans-serif;
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: var(--primary-font-family);
  font-size: 14px;
}

/* Main CSS */
.wrapper {
  padding: 0 0 100px;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100%;
}
.wrapper .logo img {
  max-width: 40%;
}
.wrapper input {
  background-color: var(--light-white);
  border-color: var(--light-white);
  color: var(--gray);
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper .submit_btn {
  padding: 15px;
  font-weight: 500;
}
.wrapper .login_with {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
  box-shadow: none;
}
.wrapper .login_with:hover {
  background-color: var(--gray-1);
  border-color: var(--gray-1);
}
.wrapper .login_with img {
  max-width: 8%;
}

/*** Sign Up ***/
/* Google Poppins Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-font-family: "Poppins", sans-serif;
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: var(--primary-font-family);
  font-size: 14px;
}

/* Main CSS */
.wrapper {
  padding: 0 0 100px;
  min-height: 100%;
}
.wrapper .logo img {
  max-width: 40%;
}
.wrapper input {
  background-color: var(--light);
  border-color: var(--light);
  color: gray;
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper .password-info {
  font-size: 10px;
}
.wrapper .submit_btn {
  padding: 10px 15px;
  font-weight: 500;
}
.wrapper .login_with {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
  box-shadow: none;
}
.wrapper .login_with:hover {
  background-color: var(--gray-1);
  border-color: var(--gray-1);
}
.wrapper .login_with img {
  max-width: 7%;
}

/*** Change Password ***/
/* Google Poppins Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-font-family: "Poppins", sans-serif;
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: var(--primary-font-family);
  font-size: 14px;
}

/* Main CSS OTP Verification New Changing */
.wrapper {
  padding: 0 0 100px;
  background-image: url("images/bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100%;
  /* height:100vh;
    display:flex;
    align-items:center;
    justify-content:center; */
}
.wrapper .logo img {
  max-width: 40%;
}
.wrapper input {
  background-color: var(--light-white);
  border-color: var(--light-white);
  color: var(--gray);
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper .password-info {
  font-size: 10px;
}
.wrapper .submit_btn {
  padding: 10px 15px;
  font-weight: 500;
}
.wrapper .login_with {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
  box-shadow: none;
}
.wrapper .login_with:hover {
  background-color: var(--gray-1);
  border-color: var(--gray-1);
}
.wrapper .login_with img {
  max-width: 7%;
}

/* OTP Verification CSS */
.wrapper .otp_input input {
  width: 14%;
  height: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .wrapper .otp_input input {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .wrapper .otp_input input {
    height: 40px;
  }
}
