.row {
  max-width: 80rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2);
    background-color: orangered;
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 4rem; }
