$grid-width: 80rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;
    
    &:not(:last-child) {        // .row:not(:last-child){} reverse of .row:last-child {}
        margin-bottom: $gutter-vertical;
    }
}


