body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  // main text in heading 
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  // sub text in heading 
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveToLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.2s;

  // as both tab-port and phone has max-width so maximum between them will be placed at first position, maximum is tab-port, so it will be first. Otherwise tab-port will overwrite conflicting properties of phone 
  @include respond(tab-port) {      // <=900px
    font-size: 3rem;
  }

  @include respond(phone) {         // <=600px
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}




