@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px : Phone
600 - 900px : Tablet Portrait 
900 - 1200px : Tablet Landscape 
[1200 - 1800px] : our Desktop-first normal styles apply 
1800px + : Big Desktop 
*/

 

