// ABOUT SECTION
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  // for <=600px reduce too much space above about section 
  @include respond(phone) {
    padding: 20rem 0;
  }
}

// FEATURES SECTION
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  // gives same effect as clip-path property for background
  transform: skewY(-7deg);
  // .section-features .row {}, selects all direct child of feature section, unskews the feature boxes
  & > * {
    transform: skewY(7deg);
  }
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

// TOURS SECTION
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 17rem 0 10rem 0;
  }
}

// STORIES SECTION
.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

// BOOKING SECTION
.section-book {
  // inside .section-book, there is .book section which will have padding around it
  padding: 15rem 0;
  // .section-book will have background color as linear gradient of green, except inside .book section which will have an image
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

// .book contains solid gradient over background image, as we will never use solid gradient over image in other places, means it is home page specific, that's why put it here instead of inside components folder
.book {
  // from 0 to 50% of .book section there is solid white color at 105deg angle over background image
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  // cover and 100% both give same effect along X-axis for background-size, but cover also covers along Y-axis but 100% only can cover X-axis
  background-size: 100%;
  border-radius: 3px;
  box-shadow: $box-shadow-1;

  // for <=1200px range, we want the white layer part to cover 65% of the background image, also want the background to cover entire height and also width. To cover height, we need cover keyword instead of 100%
  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    margin: 0 2rem;
  }

  // for <=900px range, we want the white layer part to cover entire 100% of background image, height also will be covered by background image as it already mentioned for tab-land
  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  // .book__form contains form part taking just 60% of its parent, .book which has background image, so .book__form spreads just over solid white gradient. Clearly .book__form is also home page specific but it has .form which can be used as component
  &__form {
    width: 60%;
    padding: 6rem;

    // for <=1200px, we want the form to take up same width as the white layer on back image
    @include respond(tab-land) {
      width: 65%;
    }

    // for <=900px, we want the form to take up whole width of back image or the .book section as the white layer covers whole of back image now 
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
