html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #2c73d2;
  color: #fff;
  text-align: center;
}

.flex-container {
  border: 10px solid #f9f871;
  max-width: 600px;
  margin: 0 auto;
  padding: 0.25em;
}

.flex-item {
  background: #8bee86;
  margin: 0.5em;
  padding: 0.5em;
  color: #424656;
}
