body {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  color: #2e7ad3;
  text-align: center;
  margin: 45px 0;
}

main {
  background-color: #f1f1f1;
  width: 450px;
  padding: 25px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  color: #104c90;
  margin: 0 0 10px; /* also can use 3 values, last value will be 0 */
}

img {
  width: 450px;
}

.first-para {
  margin-top: 25px;
}

a {
  color: #ff8000;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #104c90;
}

.read-more {
  margin: 0;
}
