body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  color: #2e7ad3;
  font-size: 40px;
  margin-bottom: 45px;
}

main {
  background-color: #f1f1f1;
  padding: 25px;
  text-align: left;
  margin-top: 0px;
}

h3 {
  color: #104c90;
  font-size: 28px;
  margin-bottom: 9px;
}

img {
  width: 450px;
}

.first-para {
  margin-top: 25px;
}

a {
  color: #ff8000;
  font-weight: 600;
}
