.card {
  background: #000;
  color: white;
  width: 560px;
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: black;
}

.button {
  display: inline-block;
  background: #ffe600;
  color: #000;
  /* for padding, margin em is relative to font-size of current element */
  padding: 0.5rem 1.25rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
}

.button:hover {
  background: orange;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-small {
  font-size: 0.75rem;
}

.accent-color {
  color: #ffe600;
}

.links {
  margin-top: 0;
  margin-bottom: 0;
}
