.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 300px) 1fr;
}

.grid-item {
  background: #b823c1;
  color: #fff;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  padding: 3em 2em;
  background: #ff5670;
}
