/* basic */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: #606060;
  margin: 0;
  background: pink;
}

/* @media screen and (min-width: 400px) and (max-width: 649px) {
  body {
    background: lightcoral;
  }
} */

@media (min-width: 500px) and (orientation: landscape) {
  body {
    background: aquamarine;
  }
}

/* typography */
h1,
h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  color: #212614;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

/* layout */
.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

h1 span {
  color: #b7832f;
}

img {
  width: 100%;
}

.row {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* assuming there are 4 flex boxes in a row, column 2 will take width of 2 columns, and column 3 width of 3 columns */
/* to have space between boxes, take 5% width from each boxes */
.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}

.col-bg {
  background-color: #212614;
  color: #fff;
  padding: 1em;
}
