body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
}

header,
section {
  padding: 50px;
}

header {
  background: #ffe600;
  color: #000;
}

.section-one {
  background-color: #000;
  color: #fff;
}

.section-two-link {
  color: #000;
}

/* button styles */

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}
.btn-accent {
  background: #ffe600;
  color: #000;
}

.btn-dark {
  background: #000;
  color: #fff;
}
