/* global style */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #2e354f;
  font-size: 1.5rem;
}

h1,
h2,
p {
  margin-top: 0;
}

/* buttons */
.buttons {
  padding-top: 20px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 3px;
}

.btn-accent {
  background-color: #ef5839;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-accent:focus {
  border: 2px solid #fff;
}

.btn-white:focus {
  border: 2px solid #ef5839;
}

.btn-accent:hover {
  background-color: #d04c31;
}

.btn-white:hover {
  background-color: rgb(223, 223, 223);
}

/* typography */
header {
  background: #2e354f;
  color: #fff;
}

h1 {
  /* font-size: 36px; */
  font-size: 2rem;
  margin: auto 0;
}

h2 {
  font-size: 2rem;
  color: #ef5839;
}

/* layout */
.section-one {
  font-size: 2rem;
}

.section-one p {
  margin-top: 25px;
}

.section-two {
  background-color: #2e354f;
}

.section-two p {
  color: #fff;
}

/* elements */

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
  /* border: 2px solid red; */
}

img {
  width: 100%;
  background-size: contain;
}

a {
  color: #ef5839;
}

ul {
  font-size: 1.5rem;
}
