a {
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    transition: 0.8s;

    &:hover {
        color: orange;
        font-size: 20px;
        transition: 0.8s;
    }
}
