body {
  background: dodgerblue;
  font-family: Arial, Helvetica, sans-serif; }

#container {
  width: 80%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

h1 {
  color: dodgerblue;
  font-size: 20px; }

span {
  color: dodgerblue; }

#header {
  background-color: #fff;
  padding: 1px 10px;
  text-align: center; }

ul {
  list-style: none;
  display: flex;
  border: 2px solid white;
  padding: 10px;
  justify-content: space-between; }

a {
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
  transition: 0.8s; }
  a:hover {
    color: orange;
    font-size: 20px;
    transition: 0.8s; }

#content {
  display: flex;
  height: 80%; }

#sidebar {
  background-color: skyblue;
  padding: 20px;
  width: 800px; }

#ads {
  background-color: gold; }

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#article1, #article2 {
  background-color: khaki;
  width: 50%;
  padding: 15px;
  align-self: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px #ffea00;
  -moz-box-shadow: 10px 10px 10px #ffea00;
  box-shadow: 10px 10px 10px #ffea00; }

#article2 {
  background-color: lightpink;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -10px 10px 10px magenta;
  -moz-box-shadow: -10px 10px 10px magenta;
  box-shadow: -10px 10px 10px magenta; }

#article3 {
  width: 50%;
  padding: 15px;
  align-self: center; }

#article3 {
  background-color: yellowgreen;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 10px burlywood;
  -moz-box-shadow: 10px 10px 10px burlywood;
  box-shadow: 10px 10px 10px burlywood; }

#equality-relational-boolean-operators {
  padding: true;
  padding: false;
  padding: true;
  padding: true;
  padding: true;
  padding: false;
  padding: "----------";
  padding: true;
  padding: true;
  padding: false;
  padding: "----------";
  padding: true;
  padding: false;
  padding: true;
  padding: false;
  padding: true; }

#concatenation-arithmetic-operators {
  padding: 12px;
  padding: 8px;
  padding: 20px;
  padding: 5px;
  padding: 0px; }

#sidebar {
  margin-left: 10px; }

#ads {
  margin-right: 10px; }

.icon-duck {
  background-image: url("/icons/duck.png"); }

.half-width {
  width: 600px; }

.one-third-width {
  width: 400px; }

.one-fourth-width {
  width: 300px; }

.testNumber {
  margin: 10px;
  margin: 5px;
  margin: 9px;
  margin: 3px;
  margin: 8px;
  margin: 7px;
  margin: 5px;
  margin: 1px;
  margin: 20%;
  margin: 250%;
  margin: "----------";
  margin: true;
  margin: false;
  margin: true;
  margin: 0.6997461766;
  margin: 19;
  margin: "em";
  margin: "%*px";
  margin: false;
  margin: true; }

.testString {
  font-family: "Arial";
  font-family: 20;
  font-family: "ARIAL";
  font-family: ARIAL;
  font-family: arial;
  font-family: 14;
  font-family: "----------";
  font-family: 11;
  font-family: "HeMonolvetica Neue";
  font-family: "lvetica Neue";
  font-family: "lvetica ";
  font-family: "lvetic";
  font-family: ujif10j6r; }

#article2 {
  background-color: pink; }

#article2:hover {
  background-color: #ff274d; }

#article2:active {
  background-color: white; }

#article3:hover {
  background-color: #66cd32; }

#article3:active {
  background-color: #abff00;
  background-color: #848d72;
  background-color: #4d6799;
  background-color: rgba(154, 205, 50, 0.2); }

.test {
  padding: 3px;
  padding: 3;
  padding: 3;
  padding: 2;
  padding: 20px;
  padding: 30px;
  padding: 10, 20, 30px;
  padding: 10px 20px 4em;
  padding: 10px 20px 30px;
  padding: Roboto, Arial, Verdana;
  padding: 2;
  padding: 3;
  padding: "----------";
  padding: 10px 20px 30px 10 20 30px;
  padding: 1, 2, 3, 4, 5, 6;
  padding: 1 2 3 4 5 6;
  padding: 1, 2, 3, 4, 5, 6;
  padding: 1, 2, 3, 4, 5, 6;
  padding: space;
  padding: comma;
  padding: 10px 20px 30px 70px 80px;
  padding: 10px, 20px, 30px, 70px 80px;
  padding: 10 20 30px 70px 80px;
  padding: 10px 10, 20px 20, 30px 30px;
  padding: red 10px, green 15px, blue 5px;
  padding: false; }

ul li {
  overflow: auto; }

.abc p, .xyz p {
  overflow: auto; }

.abc_copy {
  overflow: auto; }

.abc_copy, .abc_image {
  overflow: auto; }

.abc:hover {
  overflow: auto; }

a.active {
  overflow: auto; }

.abc_copy {
  overflow: auto; }

.abc_copy, .abc_image {
  overflow: auto; }

a.link {
  overflow: auto; }

a.abc {
  overflow: auto; }

.abc .xyz {
  overflow: auto; }

.abc .xyz li, .xyz .abc li {
  overflow: auto; }

true {
  overflow: auto; }

false {
  overflow: auto; }

a, .abc {
  overflow: auto; }

a.active {
  overflow: auto; }

a.active.disable {
  overflow: auto; }

.active main a, main .active a {
  overflow: auto; }

.test {
  font-weight: 500;
  font-weight: "regular", "medium", "bold";
  font-weight: 400, 500, 700;
  font-weight: "regular", "medium", "bold", "lightest", "light";
  font-weight: 400, 500, 700, 100, 300;
  font-weight: "medium", "bold";
  font-weight: true;
  font-weight: false;
  font-weight: "medium" 500; }

.test {
  padding: true;
  padding: true;
  padding: false;
  padding: true;
  padding: false;
  padding: true;
  padding: true;
  padding: true;
  padding: "-------";
  padding: string;
  padding: list;
  padding: map; }

/* ----------------------------- */
.abc {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-style: dashed;
  padding: 5px; }

.block {
  color: green; }

#menu .block {
  color: coral; }

.button {
  border: 1px solid black; }
  .button:hover {
    border-width: 2px; }

body {
  background: deepskyblue; }

@media screen and (max-width: 1300px) {
  body {
    background: red; } }
@media screen and (max-width: 1000px) {
  body {
    background: skyblue; } }
@media screen and (max-width: 700px) {
  body {
    background: gold; } }
/* ----------------------------- */
body {
  background: deepskyblue; }

@media screen and (max-width: 1300px) {
  body {
    background: red; } }
@media screen and (max-width: 1000px) {
  body {
    background: skyblue; } }
@media screen and (max-width: 700px) {
  body {
    background: gold; } }
/* ----------------------------- */
.container {
  width: 1100px;
  margin: 0px auto; }

@media screen and (max-width: 1150px) {
  .container {
    width: 900px; } }
@media screen and (max-width: 950px) {
  .container {
    width: 700px; } }
/* ----------------------------- */
.container {
  width: 1100px;
  margin: 0px auto; }
  @media screen and (max-width: 1150px) {
    .container {
      width: 900px; } }
  @media screen and (max-width: 950px) {
    .container {
      width: 700px; } }

/* ----------------------------- */
.item {
  color: red; }
  .item .item-wrapper {
    color: green; }
    .item .item-wrapper img {
      width: 100%; }
  .item .item-child {
    background: pink; }

/* ----------------------------- */
.item {
  color: red; }
  .item-wrapper {
    color: green; }
    .item-wrapper img {
      width: 100%; }
  .item .item-child {
    background: pink; }

@media print {
  .item {
    color: red; } }
/* ----------------------------- */
@media print {
  .container {
    font-size: 12px;
    color: green; } }
  .container {
    font-size: 15px;
    color: black; }

/* ----------------------------- */
p {
  color: red;
  font-size: 20px; }

p {
  color: blue;
  font-size: 20px; }

p {
  color: aquamarine;
  font-size: 12px; }

p {
  color: green; }

.test1 {
  font-size: 20px;
  color: green; }

.test2 {
  font-size: 100px;
  color: cornflowerblue; }

#ads {
  background-color: black;
  color: #fff;
  padding: 20px;
  margin: 25px;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif; }
  #ads p {
    font-size: 20px;
    color: #fff; }

#sidebar {
  background-color: lightgray;
  color: #000;
  padding: 20px;
  margin: 25px;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif; }
  #sidebar p {
    font-size: 20px;
    color: #000; }

/* ----------------------------- */

/*# sourceMappingURL=style.css.map */
