$primary-color: dodgerblue;
body {
    background: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: $primary-color;
    font-size: 20px;
}
span {
    color: $primary-color;
}
#header {
    background-color: #fff;
    display: inline-block;
    padding: 0 15px;
}
ul {
    list-style: none;
    display: flex;
}
@import "links"


