/*
0 - 600px : Phone
600 - 900px : Tablet Portrait 
900 - 1200px : Tablet Landscape 
[1200 - 1800px] : our Desktop-first normal styles apply here 
1800px + : Big Desktop 

$breakpoint argument choices, no desktop here as that is normal style here 
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* line 2, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  /* line 2, ../sass/base/_base.scss */
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  /* line 2, ../sass/base/_base.scss */
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  /* line 2, ../sass/base/_base.scss */
  html {
    font-size: 75%;
  }
}

/* line 33, ../sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 39, ../sass/base/_base.scss */
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  /* line 39, ../sass/base/_base.scss */
  body {
    padding: 0;
  }
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

/* line 9, ../sass/base/_typography.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
/* line 16, ../sass/base/_typography.scss */
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveToRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  /* line 16, ../sass/base/_typography.scss */
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
/* line 32, ../sass/base/_typography.scss */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveToLeft 1s ease-out;
}
@media (max-width: 37.5em) {
  /* line 32, ../sass/base/_typography.scss */
  .heading-primary--sub {
    letter-spacing: .5rem;
  }
}

/* line 45, ../sass/base/_typography.scss */
.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #23916c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  /* line 45, ../sass/base/_typography.scss */
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  /* line 45, ../sass/base/_typography.scss */
  .heading-secondary {
    font-size: 2.5rem;
  }
}
/* line 70, ../sass/base/_typography.scss */
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 76, ../sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 82, ../sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem;
}
/* line 85, ../sass/base/_typography.scss */
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* line 2, ../sass/base/_utilities.scss */
.u-center-text {
  text-align: center !important;
}

/* line 6, ../sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  /* line 6, ../sass/base/_utilities.scss */
  .u-margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}

/* line 14, ../sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  /* line 14, ../sass/base/_utilities.scss */
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}

/* line 21, ../sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
@media (max-width: 56.25em) {
  /* line 21, ../sass/base/_utilities.scss */
  .u-margin-bottom-small {
    margin-bottom: .5rem !important;
  }
}

/* line 29, ../sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 8rem !important;
}

/* line 32, ../sass/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 4rem !important;
}

/* line 35, ../sass/base/_utilities.scss */
.u-margin-top-small-2 {
  margin-top: -2rem !important;
}

/* line 38, ../sass/base/_utilities.scss */
.u-margin-top-small-4 {
  margin-top: -4rem !important;
}

/* line 2, ../sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden;
}
/* line 15, ../sass/components/_bg-video.scss */
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 5, ../sass/components/_button.scss */
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
/* line 23, ../sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
/* line 27, ../sass/components/_button.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* line 34, ../sass/components/_button.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* line 42, ../sass/components/_button.scss */
.btn--white {
  background-color: #fff;
  color: #777;
}
/* line 46, ../sass/components/_button.scss */
.btn--white::after {
  background-color: #fff;
}
/* line 51, ../sass/components/_button.scss */
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
/* line 55, ../sass/components/_button.scss */
.btn--green::after {
  background-color: #55c57a;
}
/* line 60, ../sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
/* line 73, ../sass/components/_button.scss */
.btn--animated {
  animation: moveToTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* line 81, ../sass/components/_button.scss */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}
/* line 91, ../sass/components/_button.scss */
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
/* line 97, ../sass/components/_button.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0);
}

/* line 3, ../sass/components/_card.scss */
.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
}
/* line 12, ../sass/components/_card.scss */
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
/* line 26, ../sass/components/_card.scss */
.card__side--front {
  background-color: #fff;
}
/* line 29, ../sass/components/_card.scss */
.card__side--back {
  transform: rotateY(180deg);
}
/* line 33, ../sass/components/_card.scss */
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
/* line 40, ../sass/components/_card.scss */
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #23916c);
}
/* line 47, ../sass/components/_card.scss */
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
/* line 58, ../sass/components/_card.scss */
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
/* line 62, ../sass/components/_card.scss */
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
/* line 67, ../sass/components/_card.scss */
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
/* line 77, ../sass/components/_card.scss */
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
/* line 86, ../sass/components/_card.scss */
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #23916c), url(../img/nat-6.jpg);
}
/* line 94, ../sass/components/_card.scss */
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
/* line 104, ../sass/components/_card.scss */
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  margin: 0;
}
/* line 118, ../sass/components/_card.scss */
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
/* line 124, ../sass/components/_card.scss */
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
/* line 131, ../sass/components/_card.scss */
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(35, 145, 108, 0.85));
}
/* line 138, ../sass/components/_card.scss */
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
/* line 147, ../sass/components/_card.scss */
.card__details {
  padding: 3rem;
}
/* line 150, ../sass/components/_card.scss */
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}
/* line 156, ../sass/components/_card.scss */
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
/* line 161, ../sass/components/_card.scss */
.card__details ul li:not(:last-child) {
  border-bottom: 1.7px solid #eee;
}
/* line 169, ../sass/components/_card.scss */
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
/* line 178, ../sass/components/_card.scss */
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
/* line 183, ../sass/components/_card.scss */
.card__price-only {
  font-size: 1.8rem;
  text-transform: uppercase;
}
/* line 188, ../sass/components/_card.scss */
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
  margin-top: 0px;
}
@media (max-width: 56.25em) {
  /* line 3, ../sass/components/_card.scss */
  .card {
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  /* line 207, ../sass/components/_card.scss */
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  /* line 213, ../sass/components/_card.scss */
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  /* line 221, ../sass/components/_card.scss */
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  /* line 225, ../sass/components/_card.scss */
  .card__details {
    padding: 1rem 3rem;
  }
  /* line 232, ../sass/components/_card.scss */
  .card__cta {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  /* line 241, ../sass/components/_card.scss */
  .card__price-box {
    margin-bottom: 8rem;
  }
  /* line 245, ../sass/components/_card.scss */
  .card__price-value {
    font-size: 4rem;
    margin-bottom: -5rem;
  }
}

/* line 2, ../sass/components/_composition.scss */
.composition {
  position: relative;
}
/* line 6, ../sass/components/_composition.scss */
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  /* line 6, ../sass/components/_composition.scss */
  .composition__photo {
    float: left;
    position: relative;
    width: 33.3333333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
/* line 22, ../sass/components/_composition.scss */
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media (max-width: 56.25em) {
  /* line 22, ../sass/components/_composition.scss */
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
/* line 31, ../sass/components/_composition.scss */
.composition__photo--p2 {
  right: 0rem;
  top: 2rem;
}
@media (max-width: 56.25em) {
  /* line 31, ../sass/components/_composition.scss */
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
/* line 41, ../sass/components/_composition.scss */
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  /* line 41, ../sass/components/_composition.scss */
  .composition__photo--p3 {
    left: 0;
    top: 1rem;
    transform: scale(1.2);
  }
}
/* line 52, ../sass/components/_composition.scss */
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #55c57a;
}
/* line 62, ../sass/components/_composition.scss */
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

/* line 1, ../sass/components/_feature-box.scss */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media (max-width: 56.25em) {
  /* line 1, ../sass/components/_feature-box.scss */
  .feature-box {
    padding: 2rem;
  }
}
/* line 14, ../sass/components/_feature-box.scss */
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #23916c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  /* line 14, ../sass/components/_feature-box.scss */
  .feature-box__icon {
    margin-bottom: -2rem;
  }
}
/* line 31, ../sass/components/_feature-box.scss */
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* line 3, ../sass/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
/* line 8, ../sass/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.5s;
}
/* line 27, ../sass/components/_form.scss */
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
/* line 36, ../sass/components/_form.scss */
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
/* line 42, ../sass/components/_form.scss */
.form__input::placeholder {
  color: #999;
}
/* line 46, ../sass/components/_form.scss */
.form__input::-webkit-input-placeholder {
  color: #999;
}
@media (max-width: 56.25em) {
  /* line 8, ../sass/components/_form.scss */
  .form__input {
    width: 100%;
  }
}
/* line 57, ../sass/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  margin-top: 0.7rem;
  transition: all 0.5s;
}
/* line 69, ../sass/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
/* line 78, ../sass/components/_form.scss */
.form__radio-group {
  display: inline-block;
  width: 43%;
}
@media (max-width: 56.25em) {
  /* line 78, ../sass/components/_form.scss */
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/* line 91, ../sass/components/_form.scss */
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
/* line 99, ../sass/components/_form.scss */
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
/* line 111, ../sass/components/_form.scss */
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
/* line 136, ../sass/components/_form.scss */
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
/* line 142, ../sass/components/_form.scss */
.form__radio-input {
  display: none;
}

/* line 2, ../sass/components/_popup.scss */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
/* line 17, ../sass/components/_popup.scss */
.popup__content {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s 0.2s;
}
@media (max-width: 75em) {
  /* line 17, ../sass/components/_popup.scss */
  .popup__content {
    display: flex;
    flex-direction: column;
  }
}
/* line 43, ../sass/components/_popup.scss */
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
@media (max-width: 75em) {
  /* line 43, ../sass/components/_popup.scss */
  .popup__left {
    display: flex;
    width: 50%;
    margin-bottom: 3rem;
  }
}
/* line 57, ../sass/components/_popup.scss */
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media (max-width: 75em) {
  /* line 57, ../sass/components/_popup.scss */
  .popup__right {
    width: 100%;
    text-align: center;
  }
}
/* line 71, ../sass/components/_popup.scss */
.popup__img {
  display: block;
  width: 100%;
}
/* line 76, ../sass/components/_popup.scss */
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #ddd;
  hyphens: auto;
}
@media (max-width: 75em) {
  /* line 76, ../sass/components/_popup.scss */
  .popup__text {
    column-count: auto;
  }
}
/* line 95, ../sass/components/_popup.scss */
.popup:target {
  opacity: 1;
  visibility: visible;
}
/* line 102, ../sass/components/_popup.scss */
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* line 109, ../sass/components/_popup.scss */
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  transition: all 0.5s;
}
/* line 124, ../sass/components/_popup.scss */
.popup__close:hover {
  color: #55c57a;
}

/* line 1, ../sass/components/_story.scss */
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  /* line 1, ../sass/components/_story.scss */
  .story {
    width: 100%;
    padding: 3rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  /* line 1, ../sass/components/_story.scss */
  .story {
    transform: skewX(0);
  }
}
/* line 30, ../sass/components/_story.scss */
.story:not(:last-child) {
  margin-bottom: 8rem;
}
/* line 35, ../sass/components/_story.scss */
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  /* line 35, ../sass/components/_story.scss */
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}
/* line 56, ../sass/components/_story.scss */
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
}
/* line 64, ../sass/components/_story.scss */
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  /* line 64, ../sass/components/_story.scss */
  .story__text {
    transform: skewX(0);
  }
}
/* line 72, ../sass/components/_story.scss */
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
/* line 89, ../sass/components/_story.scss */
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
/* line 95, ../sass/components/_story.scss */
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
@media (max-width: 56.25em) {
  /* line 1, ../sass/layout/_footer.scss */
  .footer {
    padding: 8rem 0;
  }
}
/* line 11, ../sass/layout/_footer.scss */
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  /* line 11, ../sass/layout/_footer.scss */
  .footer__logo-box {
    margin-bottom: 4rem;
  }
}
/* line 21, ../sass/layout/_footer.scss */
.footer__logo {
  width: 15rem;
  height: auto;
  display: inline-block;
}
/* line 27, ../sass/layout/_footer.scss */
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  /* line 27, ../sass/layout/_footer.scss */
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
/* line 39, ../sass/layout/_footer.scss */
.footer__list {
  list-style: none;
  padding: 0;
}
/* line 44, ../sass/layout/_footer.scss */
.footer__item {
  display: inline-block;
}
/* line 47, ../sass/layout/_footer.scss */
.footer__item:not(:last-child) {
  margin-right: 2.5rem;
}
/* line 53, ../sass/layout/_footer.scss */
.footer__link:link, .footer__link:visited {
  color: inherit;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.4s;
}
/* line 63, ../sass/layout/_footer.scss */
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
/* line 71, ../sass/layout/_footer.scss */
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  margin-top: 0;
  width: 80%;
  float: right;
}
@media (max-width: 56.25em) {
  /* line 71, ../sass/layout/_footer.scss */
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

/* line 1, ../sass/layout/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
/* line 6, ../sass/layout/_grid.scss */
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  /* line 6, ../sass/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  /* line 1, ../sass/layout/_grid.scss */
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
/* line 2, ../sass/abstracts/_mixins.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../sass/layout/_grid.scss */
.row [class^="col"] {
  float: left;
}
/* line 26, ../sass/layout/_grid.scss */
.row [class^="col"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  /* line 26, ../sass/layout/_grid.scss */
  .row [class^="col"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  /* line 23, ../sass/layout/_grid.scss */
  .row [class^="col"] {
    width: 100% !important;
  }
}
/* line 42, ../sass/layout/_grid.scss */
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
/* line 45, ../sass/layout/_grid.scss */
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
/* line 48, ../sass/layout/_grid.scss */
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
/* line 51, ../sass/layout/_grid.scss */
.row .col-2-of-3 {
  width: calc(2 * (100% - 6rem * 2) / 3 + 6rem);
}
/* line 54, ../sass/layout/_grid.scss */
.row .col-2-of-4 {
  width: calc(2 * (100% - 6rem * 3) / 4 + 6rem);
}
/* line 57, ../sass/layout/_grid.scss */
.row .col-3-of-4 {
  width: calc(3 * (100% - 6rem * 3) / 4 + 2 * 6rem);
}

/* line 2, ../sass/layout/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(35, 145, 108, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 56.25em) {
  /* line 2, ../sass/layout/_header.scss */
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
@media (max-width: 37.5em) {
  /* line 2, ../sass/layout/_header.scss */
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
}
/* line 29, ../sass/layout/_header.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 39, ../sass/layout/_header.scss */
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/* line 45, ../sass/layout/_header.scss */
.logo {
  height: 3.5rem;
}

/* line 3, ../sass/layout/_navigation.scss */
.navigation__checkbox {
  display: none;
}
/* line 8, ../sass/layout/_navigation.scss */
.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  /* line 8, ../sass/layout/_navigation.scss */
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  /* line 8, ../sass/layout/_navigation.scss */
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
/* line 35, ../sass/layout/_navigation.scss */
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f 0%, #23916c 30%);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 56.25em) {
  /* line 35, ../sass/layout/_navigation.scss */
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  /* line 35, ../sass/layout/_navigation.scss */
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
/* line 65, ../sass/layout/_navigation.scss */
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0%;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
/* line 83, ../sass/layout/_navigation.scss */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
/* line 90, ../sass/layout/_navigation.scss */
.navigation__item {
  margin: 1rem;
}
/* line 95, ../sass/layout/_navigation.scss */
.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.5s;
}
/* line 119, ../sass/layout/_navigation.scss */
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}
/* line 124, ../sass/layout/_navigation.scss */
.navigation__link:hover,
.navigation__link :active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
/* line 137, ../sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
/* line 141, ../sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
/* line 149, ../sass/layout/_navigation.scss */
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
/* line 155, ../sass/layout/_navigation.scss */
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
/* line 165, ../sass/layout/_navigation.scss */
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
/* line 176, ../sass/layout/_navigation.scss */
.navigation__icon::before {
  top: -0.8rem;
}
/* line 180, ../sass/layout/_navigation.scss */
.navigation__icon::after {
  top: 0.8rem;
}
/* line 186, ../sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
  height: 1px;
  background-color: #55c57a;
}
/* line 192, ../sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
  height: 1px;
  background-color: #55c57a;
}
/* line 198, ../sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon {
  background-color: #55c57a;
}
/* line 203, ../sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
/* line 207, ../sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
  height: 1px;
}
/* line 214, ../sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
  height: 1px;
}

/* line 2, ../sass/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 37.5em) {
  /* line 2, ../sass/pages/_home.scss */
  .section-about {
    padding: 20rem 0;
  }
}

/* line 14, ../sass/pages/_home.scss */
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(35, 145, 108, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
/* line 26, ../sass/pages/_home.scss */
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 56.25em) {
  /* line 14, ../sass/pages/_home.scss */
  .section-features {
    padding: 10rem 0;
  }
}

/* line 37, ../sass/pages/_home.scss */
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  /* line 37, ../sass/pages/_home.scss */
  .section-tours {
    padding: 17rem 0 10rem 0;
  }
}

/* line 48, ../sass/pages/_home.scss */
.section-stories {
  padding: 15rem 0;
  position: relative;
}
@media (max-width: 56.25em) {
  /* line 48, ../sass/pages/_home.scss */
  .section-stories {
    padding: 5rem 0;
  }
}

/* line 58, ../sass/pages/_home.scss */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #23916c);
}
@media (max-width: 56.25em) {
  /* line 58, ../sass/pages/_home.scss */
  .section-book {
    padding: 5rem 0;
  }
}

/* line 74, ../sass/pages/_home.scss */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 75em) {
  /* line 74, ../sass/pages/_home.scss */
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
    background-size: cover;
    margin: 0 2rem;
  }
}
@media (max-width: 56.25em) {
  /* line 74, ../sass/pages/_home.scss */
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
  }
}
/* line 112, ../sass/pages/_home.scss */
.book__form {
  width: 60%;
  padding: 6rem;
}
@media (max-width: 75em) {
  /* line 112, ../sass/pages/_home.scss */
  .book__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  /* line 112, ../sass/pages/_home.scss */
  .book__form {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
