@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* line 2, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 10, ../sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

/* line 10, ../sass/base/_typography.scss */
.heading-primary {
  color: #ffd;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
/* line 16, ../sass/base/_typography.scss */
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveToRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
/* line 26, ../sass/base/_typography.scss */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveToLeft 1s ease-out;
}

/* line 35, ../sass/base/_typography.scss */
.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.2s;
}
/* line 51, ../sass/base/_typography.scss */
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 57, ../sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 63, ../sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem;
}
/* line 66, ../sass/base/_typography.scss */
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* line 1, ../sass/base/_utilities.scss */
.u-center-text {
  text-align: center;
}

/* line 5, ../sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

/* line 8, ../sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

/* line 11, ../sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* line 15, ../sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem;
}

/* line 18, ../sass/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 8rem;
}

/* line 2, ../sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden;
}
/* line 15, ../sass/components/_bg-video.scss */
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 4, ../sass/components/_button.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
/* line 16, ../sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
/* line 20, ../sass/components/_button.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* line 26, ../sass/components/_button.scss */
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* line 31, ../sass/components/_button.scss */
.btn--white {
  background-color: #ffd;
  color: #777;
}
/* line 35, ../sass/components/_button.scss */
.btn--white::after {
  background-color: #ffd;
}
/* line 40, ../sass/components/_button.scss */
.btn--green {
  background-color: #55c57a;
  color: #ffd;
}
/* line 44, ../sass/components/_button.scss */
.btn--green::after {
  background-color: #55c57a;
}
/* line 49, ../sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
/* line 62, ../sass/components/_button.scss */
.btn--animated {
  animation: moveToTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* line 70, ../sass/components/_button.scss */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s;
}
/* line 79, ../sass/components/_button.scss */
.btn-text:hover {
  background-color: #55c57a;
  color: #ffd;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
/* line 85, ../sass/components/_button.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0);
}

/* line 2, ../sass/components/_card.scss */
.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
}
/* line 11, ../sass/components/_card.scss */
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
/* line 25, ../sass/components/_card.scss */
.card__side--front {
  background-color: #ffd;
}
/* line 28, ../sass/components/_card.scss */
.card__side--back {
  transform: rotateY(180deg);
}
/* line 32, ../sass/components/_card.scss */
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
/* line 39, ../sass/components/_card.scss */
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
/* line 46, ../sass/components/_card.scss */
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
/* line 57, ../sass/components/_card.scss */
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
/* line 61, ../sass/components/_card.scss */
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
/* line 66, ../sass/components/_card.scss */
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
/* line 76, ../sass/components/_card.scss */
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
/* line 85, ../sass/components/_card.scss */
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
/* line 93, ../sass/components/_card.scss */
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
/* line 103, ../sass/components/_card.scss */
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #ffd;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
/* line 116, ../sass/components/_card.scss */
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
/* line 122, ../sass/components/_card.scss */
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
/* line 129, ../sass/components/_card.scss */
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
/* line 136, ../sass/components/_card.scss */
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
/* line 145, ../sass/components/_card.scss */
.card__details {
  padding: 3rem;
}
/* line 148, ../sass/components/_card.scss */
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}
/* line 154, ../sass/components/_card.scss */
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
/* line 159, ../sass/components/_card.scss */
.card__details ul li:not(:last-child) {
  border-bottom: 1.7px solid #eee;
}
/* line 167, ../sass/components/_card.scss */
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
/* line 176, ../sass/components/_card.scss */
.card__price-box {
  color: #ffd;
  margin-bottom: 8rem;
}
/* line 181, ../sass/components/_card.scss */
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
/* line 186, ../sass/components/_card.scss */
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
  margin-top: 0px;
}

/* line 2, ../sass/components/_composition.scss */
.composition {
  position: relative;
}
/* line 5, ../sass/components/_composition.scss */
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  outline-offset: 2rem;
}
/* line 12, ../sass/components/_composition.scss */
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
/* line 16, ../sass/components/_composition.scss */
.composition__photo--p2 {
  right: 0rem;
  top: 2rem;
}
/* line 20, ../sass/components/_composition.scss */
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
/* line 24, ../sass/components/_composition.scss */
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #55c57a;
}
/* line 34, ../sass/components/_composition.scss */
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

/* line 1, ../sass/components/_feature-box.scss */
.feature-box {
  background-color: rgba(255, 255, 221, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}
/* line 10, ../sass/components/_feature-box.scss */
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* line 19, ../sass/components/_feature-box.scss */
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* line 3, ../sass/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
/* line 8, ../sass/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 221, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 70%;
  display: block;
  transition: all .5s;
}
/* line 26, ../sass/components/_form.scss */
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
/* line 35, ../sass/components/_form.scss */
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
/* line 41, ../sass/components/_form.scss */
.form__input::placeholder {
  color: #999;
}
/* line 45, ../sass/components/_form.scss */
.form__input::-webkit-input-placeholder {
  color: #999;
}
/* line 51, ../sass/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  margin-top: .7rem;
  transition: all .5s;
}
/* line 63, ../sass/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/* line 1, ../sass/components/_story.scss */
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 221, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
/* line 18, ../sass/components/_story.scss */
.story:not(:last-child) {
  margin-bottom: 8rem;
}
/* line 22, ../sass/components/_story.scss */
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
/* line 37, ../sass/components/_story.scss */
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
}
/* line 45, ../sass/components/_story.scss */
.story__text {
  transform: skewX(12deg);
}
/* line 49, ../sass/components/_story.scss */
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #ffd;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
/* line 66, ../sass/components/_story.scss */
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
/* line 72, ../sass/components/_story.scss */
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

/* line 1, ../sass/layout/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
/* line 6, ../sass/layout/_grid.scss */
.row:not(:last-child) {
  margin-bottom: 8rem;
}
/* line 2, ../sass/abstracts/_mixins.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/layout/_grid.scss */
.row [class^="col"] {
  float: left;
}
/* line 15, ../sass/layout/_grid.scss */
.row [class^="col"]:not(:last-child) {
  margin-right: 6rem;
}
/* line 20, ../sass/layout/_grid.scss */
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
/* line 23, ../sass/layout/_grid.scss */
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
/* line 26, ../sass/layout/_grid.scss */
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
/* line 29, ../sass/layout/_grid.scss */
.row .col-2-of-3 {
  width: calc(2 * (100% - 6rem * 2) / 3 + 6rem);
}
/* line 32, ../sass/layout/_grid.scss */
.row .col-2-of-4 {
  width: calc(2 * (100% - 6rem * 3) / 4 + 6rem);
}
/* line 35, ../sass/layout/_grid.scss */
.row .col-3-of-4 {
  width: calc(3 * (100% - 6rem * 3) / 4 + 2 * 6rem);
}

/* line 2, ../sass/layout/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
/* line 19, ../sass/layout/_header.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 29, ../sass/layout/_header.scss */
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/* line 35, ../sass/layout/_header.scss */
.logo {
  height: 3.5rem;
}

/* line 2, ../sass/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

/* line 9, ../sass/pages/_home.scss */
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
/* line 21, ../sass/pages/_home.scss */
.section-features > * {
  transform: skewY(7deg);
}

/* line 28, ../sass/pages/_home.scss */
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

/* line 35, ../sass/pages/_home.scss */
.section-stories {
  padding: 15rem 0;
  position: relative;
}

/* line 41, ../sass/pages/_home.scss */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}

/* line 53, ../sass/pages/_home.scss */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 221, 0.9) 0%, rgba(255, 255, 221, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
/* line 69, ../sass/pages/_home.scss */
.book__form {
  width: 60%;
  padding: 6rem;
}

/*# sourceMappingURL=main.css.map */
