/* Animation for heading text and button */
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* basic reset using universal selector */
/* line 2, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 10, ../sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

/* line 10, ../sass/base/_typography.scss */
.heading-primary {
  color: #ffd;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
/* line 16, ../sass/base/_typography.scss */
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveToRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
/* line 26, ../sass/base/_typography.scss */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveToLeft 1s ease-out;
}

/* line 35, ../sass/base/_typography.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
/* line 51, ../sass/base/_typography.scss */
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 57, ../sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 63, ../sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem;
}
/* line 66, ../sass/base/_typography.scss */
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* line 1, ../sass/base/_utilities.scss */
.u-center-text {
  text-align: center;
}

/* line 3, ../sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

/* line 4, ../sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

/* line 5, ../sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* line 5, ../sass/components/_button.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
/* line 17, ../sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
/* line 21, ../sass/components/_button.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* line 27, ../sass/components/_button.scss */
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* line 32, ../sass/components/_button.scss */
.btn--white {
  color: #777;
  background-color: #ffd;
}
/* line 36, ../sass/components/_button.scss */
.btn--white::after {
  background-color: #ffd;
}
/* line 41, ../sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
/* line 54, ../sass/components/_button.scss */
.btn--animated {
  animation: moveToTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* line 62, ../sass/components/_button.scss */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s;
}
/* line 71, ../sass/components/_button.scss */
.btn-text:hover {
  background-color: #55c57a;
  color: #ffd;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
/* line 77, ../sass/components/_button.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0);
}

/* line 2, ../sass/components/_composition.scss */
.composition {
  position: relative;
}
/* line 5, ../sass/components/_composition.scss */
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  outline-offset: 2rem;
}
/* line 12, ../sass/components/_composition.scss */
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
/* line 16, ../sass/components/_composition.scss */
.composition__photo--p2 {
  right: 0rem;
  top: 2rem;
}
/* line 20, ../sass/components/_composition.scss */
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
/* line 24, ../sass/components/_composition.scss */
.composition__photo:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #55c57a;
}

/* line 1, ../sass/layout/_grid.scss */
.row {
  max-width: 80rem;
  margin: 0 auto;
}
/* line 6, ../sass/layout/_grid.scss */
.row:not(:last-child) {
  margin-bottom: 2rem;
}
/* line 2, ../sass/abstracts/_mixins.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/layout/_grid.scss */
.row [class^="col"] {
  float: left;
  height: 3rem;
}
/* line 16, ../sass/layout/_grid.scss */
.row [class^="col"]:not(:last-child) {
  margin-right: 4rem;
}
/* line 21, ../sass/layout/_grid.scss */
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}
/* line 25, ../sass/layout/_grid.scss */
.row .col-1-of-3 {
  width: calc((100% - 4rem * 2) / 3);
}
/* line 29, ../sass/layout/_grid.scss */
.row .col-1-of-4 {
  width: calc((100% - 4rem * 3) / 4);
}
/* line 33, ../sass/layout/_grid.scss */
.row .col-2-of-3 {
  width: calc(2 * (100% - 4rem * 2) / 3 + 4rem);
}
/* line 37, ../sass/layout/_grid.scss */
.row .col-2-of-4 {
  width: calc(2 * (100% - 4rem * 3) / 4 + 4rem);
}
/* line 41, ../sass/layout/_grid.scss */
.row .col-3-of-4 {
  width: calc(3 * (100% - 4rem * 3) / 4 + 2 * 4rem);
}

/* heading background image setting */
/* line 3, ../sass/layout/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* heading text */
}
/* line 18, ../sass/layout/_header.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* logo */
/* line 29, ../sass/layout/_header.scss */
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/* line 35, ../sass/layout/_header.scss */
.logo {
  height: 3.5rem;
}

/* line 1, ../sass/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

/*# sourceMappingURL=main.css.map */
