/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* style for overall page */

/* basic reset using universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/* heading background image setting */

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), 
                                        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* logo */

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

/* heading text */

.center-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary__main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 32px;
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary__sub {
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 16.5px;
    animation: moveToLeft 1s ease-out;
}

/* Animation for heading text  */

@keyframes moveToRight {
    0% {
        opacity: 0; 
        transform: translateX(-100px);
    }
    80% {
        opacity: 1; 
        transform: translateX(10px);
    }
    100% {
        opacity: 1; 
        transform: translate(0px);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        opacity: 1;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

/* button of heading */

.btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    color: #777;
    background-color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

















