// ANIMATION FOR HEADING TEXT AND BUTTON 

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
